.quiz4-main {
	background-color: #dfb8af;
	padding: 50px;
}
.quiz4-cont {
	text-align: center;
	background-color: #DF7861 !important;
	padding: 40px;
	text-align: center;
	
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.quiz4 {
	border: none;
	text-align: center;
	padding: 20px;
	width: 85%;
	margin-left: 80px;

	background-color: rgba(255, 255, 255, 0.5);
	
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
