.ques-main {
	background-color: #f2f5c4 !important;
	margin-top: -8px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ques-cont {
	/* width: 80%; */
	text-align: center;
	margin: 70px;
	background-color: #f1f88f !important;
	padding: 40px;
	
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.ques1 {
	border: none;
	padding: 20px;
	width: 80%;
	margin-left: 10%;
	background-color: rgba(255, 255, 255, 0.5);
	
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
