.hwmod2 {
	background-color: #90cdc36b !important;
	padding: 50px;
}

.hw-cont {
	padding-bottom: 50px;
	border: none;
	text-align: center;
	width: 85%;
	margin: auto;
	background-color: #90CDC3!important;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
